
.root {
    -selection-color: #4b7ccf;
    -menu-color: #000000;
    -text-color: #ffffff;
    -focus-color: -selection-color;
}

.context-menu {
    -fx-padding: 0px;
}

.context-menu,
.menu-bar,
.menu,
.menu-item {
    -fx-background-color: -menu-color;
}

.menu:showing,
.menu-item:focused {
    -fx-background-color: -focus-color;
}

.menu .label,
.menu-item .label {
    -fx-text-fill: -text-color;
}


