
.root {
    -selection-color: #4b7ccf;
    -selection-color-2: rgba(50, 50, 50, 0.90);
    -primary-color: #202020;
    -secondary-color: #101010;
    -sidebar-color: #181818;
    -text-color: #ffffff;
    -focus-color: -selection-color;
    -fx-background-color: -secondary-color;
    -fx-font-family: "Verdana";
}

.button {
    -fx-background-color: rgba(145, 145, 145, 0.85)
}

.context-menu {
    -fx-padding: 0px;
}

#sidebar {
    -fx-background-color: -sidebar-color;
}

#sidebar > .button {
    -fx-background-color: -sidebar-color;
    -fx-border-width: 1 1 1 1;
    -fx-alignment: center-left;
    -fx-width: 50px;
    -fx-height: 30px;
    -fx-padding: 10px 30px 10px 20px;
    -fx-font-weight: bold;
    -fx-text-fill: -text-color;
}

.main-tool-bar,
.tool-bar,
.vbox,
.context-menu,
.menu-bar,
.menu,
.menu-item {
    -fx-background-color: -primary-color;
}

.scroll-pane {
    -fx-background: -secondary-color;
    -fx-background-color: transparent;
}

.menu-item {
    -fx-padding: 3px 25px 3px 5px;
}

#sidebar > .button:hover,
.menu:showing,
.menu-item:focused {
    -fx-background-color: -focus-color !important;
}

.menu .label,
.menu-item .label {
    -fx-text-fill: -text-color;
}

#mainscroll {
    -fx-background-color: -secondary-color;
}

#search {
    -fx-background-insets: 0;
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-border-radius: 10px;
    -fx-font-size: 10px;
    -fx-text-fill: rgb(95, 95, 95);
    -fx-prompt-text-fill: rgb(65, 65, 65);
    -fx-background-radius: 5px;
}

#search:focused {
    -fx-background-color: rgba(255, 255, 255, 1);
}

.text-area .scroll-bar {
    -fx-opacity: 0;
}

.close-button :hover {
    -fx-background-color: rgba(183, 0, 0, 0.90) !important;
    -fx-border-color: transparent !important;
}

.main-tool-bar {
    -fx-padding: 0px;
}

.main-tool-bar-button {
    -fx-border-width: 0 0 0 0 !important;
    -fx-text-alignment: center !important;
    -fx-background-color: rgba(0, 0, 0, 0.00);
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-font-size: 10px;
}

.main-tool-bar-button:hover {
    -fx-background-color: -selection-color-2;
}

.main-tool-bar-close-button:hover {
    -fx-background-color: rgba(180, 0, 0, 0.90);
}




